<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConfGen: Rapid formation of small molecule docking conformation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_conf.css') }}">
    <script src="{{ url_for('static', filename='script_gen.js') }}"></script>
</head>
<body>
<header>
    <h1>ConfGen: Rapid prediction of small molecule docking conformation</h1>
    <nav>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#references">References</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="intro">
        <h2>Welcome</h2>
        <p>This is a web application that uses a conformation prediction model to generate conformations of small molecules docking with target proteins. Enter the SMILES string for the desired molecule and the pocket structure of the target protein, then click the "Generate" button.</p>
    </section>

    <section class="prediction">
        <h2>Prediction</h2>
        <p class="message">'Please enter the SMILES string for the desired molecule'</p>
        <form action="{{ url_for('smilesgen') }}" method="post" onsubmit="return validateForm()">
            <div class="form-group">
                <label for="smiles-input">SMILES string:</label>
                <input type="text" id="smiles-input" name="smiles-input" required>
            </div>
            <div class="form-group">
                <label for="protein-file">Protein file (PDB):</label>
                <input type="file" id="protein-file" name="protein-file" accept=".pdb" required>
            </div>
            <div class="form-group">
                <label for="n_steps">epochs:</label>
                <select id="n_steps" name="n_steps">
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
                <label for="n_run">n-repeat:</label>
                <select id="n_run" name="n_run">
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
            </div>
            <button type="submit" id="generate-btn">Docking</button>
        </form>
        {% if message %}
        <p class="message">{{ message }}</p>
        {% endif %}
    </section>

    <section id="about">
        <h2>About</h2>
        <p>This web application is a docking conformation obtained by predicting the distance matrix between a small molecule and a protein, and then solving it numerically and generating geometric constraints. This model can obtain accurate conformation of complex binding rapidly based on data</p>
    </section>

    <section id="references">
        <h2>References</h2>
        <ul>
            <li>Zou Y, et al. Exploring the affinity prediction and docking conformation prediction ability of graph neural Network in docking process (manuscript)</li>
        </ul>
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <p>If you have any questions or comments, please contact us at <a href="mailto:confgen@example.com">confgen@example.com</a>.</p>
    </section>
</main>

<footer>
    <p>© 2023 CONFGEN. All rights reserved.</p>
</footer>
</body>
</html>
