$/angle:bytype1 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O1 $/atom:membrane_sio2/Si1 $/atom:membrane_sio2/O7
$/angle:bytype2 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O1 $/atom:membrane_sio2/Si1 $/atom:membrane_sio2/O12
$/angle:bytype3 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O1 $/atom:membrane_sio2/Si1 $/atom:membrane_sio2/O37
$/angle:bytype4 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O1 $/atom:membrane_sio2/Si3 $/atom:membrane_sio2/O3
$/angle:bytype5 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O1 $/atom:membrane_sio2/Si3 $/atom:membrane_sio2/O5
$/angle:bytype6 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O1 $/atom:membrane_sio2/Si3 $/atom:membrane_sio2/O8
$/angle:bytype7 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O2 $/atom:membrane_sio2/Si4 $/atom:membrane_sio2/O4
$/angle:bytype8 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O2 $/atom:membrane_sio2/Si4 $/atom:membrane_sio2/O6
$/angle:bytype9 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O2 $/atom:membrane_sio2/Si4 $/atom:membrane_sio2/O7
$/angle:bytype10 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O3 $/atom:membrane_sio2/Si3 $/atom:membrane_sio2/O5
$/angle:bytype11 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O3 $/atom:membrane_sio2/Si3 $/atom:membrane_sio2/O8
$/angle:bytype12 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O4 $/atom:membrane_sio2/Si4 $/atom:membrane_sio2/O6
$/angle:bytype13 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O4 $/atom:membrane_sio2/Si4 $/atom:membrane_sio2/O7
$/angle:bytype14 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O5 $/atom:membrane_sio2/Si3 $/atom:membrane_sio2/O8
$/angle:bytype15 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O6 $/atom:membrane_sio2/Si4 $/atom:membrane_sio2/O7
$/angle:bytype16 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O6 $/atom:membrane_sio2/Si18 $/atom:membrane_sio2/O34
$/angle:bytype17 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O7 $/atom:membrane_sio2/Si1 $/atom:membrane_sio2/O12
$/angle:bytype18 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O7 $/atom:membrane_sio2/Si1 $/atom:membrane_sio2/O37
$/angle:bytype19 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O9 $/atom:membrane_sio2/Si5 $/atom:membrane_sio2/O15
$/angle:bytype20 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O9 $/atom:membrane_sio2/Si5 $/atom:membrane_sio2/O20
$/angle:bytype21 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O9 $/atom:membrane_sio2/Si5 $/atom:membrane_sio2/O45
$/angle:bytype22 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O9 $/atom:membrane_sio2/Si7 $/atom:membrane_sio2/O11
$/angle:bytype23 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O9 $/atom:membrane_sio2/Si7 $/atom:membrane_sio2/O13
$/angle:bytype24 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O9 $/atom:membrane_sio2/Si7 $/atom:membrane_sio2/O16
$/angle:bytype25 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O10 $/atom:membrane_sio2/Si8 $/atom:membrane_sio2/O12
$/angle:bytype26 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O10 $/atom:membrane_sio2/Si8 $/atom:membrane_sio2/O14
$/angle:bytype27 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O10 $/atom:membrane_sio2/Si8 $/atom:membrane_sio2/O15
$/angle:bytype28 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O11 $/atom:membrane_sio2/Si7 $/atom:membrane_sio2/O13
$/angle:bytype29 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O11 $/atom:membrane_sio2/Si7 $/atom:membrane_sio2/O16
$/angle:bytype30 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O12 $/atom:membrane_sio2/Si1 $/atom:membrane_sio2/O37
$/angle:bytype31 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O12 $/atom:membrane_sio2/Si8 $/atom:membrane_sio2/O14
$/angle:bytype32 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O12 $/atom:membrane_sio2/Si8 $/atom:membrane_sio2/O15
$/angle:bytype33 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O13 $/atom:membrane_sio2/Si7 $/atom:membrane_sio2/O16
$/angle:bytype34 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O14 $/atom:membrane_sio2/Si8 $/atom:membrane_sio2/O15
$/angle:bytype35 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O14 $/atom:membrane_sio2/Si22 $/atom:membrane_sio2/O42
$/angle:bytype36 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O15 $/atom:membrane_sio2/Si5 $/atom:membrane_sio2/O20
$/angle:bytype37 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O15 $/atom:membrane_sio2/Si5 $/atom:membrane_sio2/O45
$/angle:bytype38 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O17 $/atom:membrane_sio2/Si9 $/atom:membrane_sio2/O23
$/angle:bytype39 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O17 $/atom:membrane_sio2/Si9 $/atom:membrane_sio2/O28
$/angle:bytype40 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O17 $/atom:membrane_sio2/Si9 $/atom:membrane_sio2/O53
$/angle:bytype41 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O17 $/atom:membrane_sio2/Si11 $/atom:membrane_sio2/O19
$/angle:bytype42 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O17 $/atom:membrane_sio2/Si11 $/atom:membrane_sio2/O21
$/angle:bytype43 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O17 $/atom:membrane_sio2/Si11 $/atom:membrane_sio2/O24
$/angle:bytype44 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O18 $/atom:membrane_sio2/Si12 $/atom:membrane_sio2/O20
$/angle:bytype45 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O18 $/atom:membrane_sio2/Si12 $/atom:membrane_sio2/O22
$/angle:bytype46 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O18 $/atom:membrane_sio2/Si12 $/atom:membrane_sio2/O23
$/angle:bytype47 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O19 $/atom:membrane_sio2/Si11 $/atom:membrane_sio2/O21
$/angle:bytype48 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O19 $/atom:membrane_sio2/Si11 $/atom:membrane_sio2/O24
$/angle:bytype49 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O20 $/atom:membrane_sio2/Si5 $/atom:membrane_sio2/O45
$/angle:bytype50 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O20 $/atom:membrane_sio2/Si12 $/atom:membrane_sio2/O22
$/angle:bytype51 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O20 $/atom:membrane_sio2/Si12 $/atom:membrane_sio2/O23
$/angle:bytype52 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O21 $/atom:membrane_sio2/Si11 $/atom:membrane_sio2/O24
$/angle:bytype53 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O22 $/atom:membrane_sio2/Si12 $/atom:membrane_sio2/O23
$/angle:bytype54 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O22 $/atom:membrane_sio2/Si26 $/atom:membrane_sio2/O50
$/angle:bytype55 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O23 $/atom:membrane_sio2/Si9 $/atom:membrane_sio2/O28
$/angle:bytype56 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O23 $/atom:membrane_sio2/Si9 $/atom:membrane_sio2/O53
$/angle:bytype57 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O25 $/atom:membrane_sio2/Si13 $/atom:membrane_sio2/O31
$/angle:bytype58 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O25 $/atom:membrane_sio2/Si13 $/atom:membrane_sio2/O61
$/angle:bytype59 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O25 $/atom:membrane_sio2/Si15 $/atom:membrane_sio2/O27
$/angle:bytype60 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O25 $/atom:membrane_sio2/Si15 $/atom:membrane_sio2/O29
$/angle:bytype61 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O25 $/atom:membrane_sio2/Si15 $/atom:membrane_sio2/O32
$/angle:bytype62 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O26 $/atom:membrane_sio2/Si16 $/atom:membrane_sio2/O28
$/angle:bytype63 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O26 $/atom:membrane_sio2/Si16 $/atom:membrane_sio2/O30
$/angle:bytype64 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O26 $/atom:membrane_sio2/Si16 $/atom:membrane_sio2/O31
$/angle:bytype65 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O27 $/atom:membrane_sio2/Si15 $/atom:membrane_sio2/O29
$/angle:bytype66 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O27 $/atom:membrane_sio2/Si15 $/atom:membrane_sio2/O32
$/angle:bytype67 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O28 $/atom:membrane_sio2/Si9 $/atom:membrane_sio2/O53
$/angle:bytype68 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O28 $/atom:membrane_sio2/Si16 $/atom:membrane_sio2/O30
$/angle:bytype69 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O28 $/atom:membrane_sio2/Si16 $/atom:membrane_sio2/O31
$/angle:bytype70 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O29 $/atom:membrane_sio2/Si15 $/atom:membrane_sio2/O32
$/angle:bytype71 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O30 $/atom:membrane_sio2/Si16 $/atom:membrane_sio2/O31
$/angle:bytype72 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O30 $/atom:membrane_sio2/Si30 $/atom:membrane_sio2/O58
$/angle:bytype73 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O31 $/atom:membrane_sio2/Si13 $/atom:membrane_sio2/O61
$/angle:bytype74 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O33 $/atom:membrane_sio2/Si17 $/atom:membrane_sio2/O39
$/angle:bytype75 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O33 $/atom:membrane_sio2/Si17 $/atom:membrane_sio2/O44
$/angle:bytype76 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O33 $/atom:membrane_sio2/Si19 $/atom:membrane_sio2/O35
$/angle:bytype77 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O33 $/atom:membrane_sio2/Si19 $/atom:membrane_sio2/O37
$/angle:bytype78 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O33 $/atom:membrane_sio2/Si19 $/atom:membrane_sio2/O40
$/angle:bytype79 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O34 $/atom:membrane_sio2/Si20 $/atom:membrane_sio2/O36
$/angle:bytype80 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O34 $/atom:membrane_sio2/Si20 $/atom:membrane_sio2/O38
$/angle:bytype81 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O34 $/atom:membrane_sio2/Si20 $/atom:membrane_sio2/O39
$/angle:bytype82 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O35 $/atom:membrane_sio2/Si19 $/atom:membrane_sio2/O37
$/angle:bytype83 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O35 $/atom:membrane_sio2/Si19 $/atom:membrane_sio2/O40
$/angle:bytype84 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O36 $/atom:membrane_sio2/Si20 $/atom:membrane_sio2/O38
$/angle:bytype85 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O36 $/atom:membrane_sio2/Si20 $/atom:membrane_sio2/O39
$/angle:bytype86 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O37 $/atom:membrane_sio2/Si19 $/atom:membrane_sio2/O40
$/angle:bytype87 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O38 $/atom:membrane_sio2/Si20 $/atom:membrane_sio2/O39
$/angle:bytype88 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O39 $/atom:membrane_sio2/Si17 $/atom:membrane_sio2/O44
$/angle:bytype89 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O41 $/atom:membrane_sio2/Si21 $/atom:membrane_sio2/O47
$/angle:bytype90 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O41 $/atom:membrane_sio2/Si21 $/atom:membrane_sio2/O52
$/angle:bytype91 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O41 $/atom:membrane_sio2/Si23 $/atom:membrane_sio2/O43
$/angle:bytype92 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O41 $/atom:membrane_sio2/Si23 $/atom:membrane_sio2/O45
$/angle:bytype93 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O41 $/atom:membrane_sio2/Si23 $/atom:membrane_sio2/O48
$/angle:bytype94 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O42 $/atom:membrane_sio2/Si24 $/atom:membrane_sio2/O44
$/angle:bytype95 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O42 $/atom:membrane_sio2/Si24 $/atom:membrane_sio2/O46
$/angle:bytype96 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O42 $/atom:membrane_sio2/Si24 $/atom:membrane_sio2/O47
$/angle:bytype97 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O43 $/atom:membrane_sio2/Si23 $/atom:membrane_sio2/O45
$/angle:bytype98 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O43 $/atom:membrane_sio2/Si23 $/atom:membrane_sio2/O48
$/angle:bytype99 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O44 $/atom:membrane_sio2/Si24 $/atom:membrane_sio2/O46
$/angle:bytype100 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O44 $/atom:membrane_sio2/Si24 $/atom:membrane_sio2/O47
$/angle:bytype101 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O45 $/atom:membrane_sio2/Si23 $/atom:membrane_sio2/O48
$/angle:bytype102 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O46 $/atom:membrane_sio2/Si24 $/atom:membrane_sio2/O47
$/angle:bytype103 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O47 $/atom:membrane_sio2/Si21 $/atom:membrane_sio2/O52
$/angle:bytype104 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O49 $/atom:membrane_sio2/Si25 $/atom:membrane_sio2/O55
$/angle:bytype105 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O49 $/atom:membrane_sio2/Si25 $/atom:membrane_sio2/O60
$/angle:bytype106 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O49 $/atom:membrane_sio2/Si27 $/atom:membrane_sio2/O51
$/angle:bytype107 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O49 $/atom:membrane_sio2/Si27 $/atom:membrane_sio2/O53
$/angle:bytype108 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O49 $/atom:membrane_sio2/Si27 $/atom:membrane_sio2/O56
$/angle:bytype109 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O50 $/atom:membrane_sio2/Si28 $/atom:membrane_sio2/O52
$/angle:bytype110 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O50 $/atom:membrane_sio2/Si28 $/atom:membrane_sio2/O54
$/angle:bytype111 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O50 $/atom:membrane_sio2/Si28 $/atom:membrane_sio2/O55
$/angle:bytype112 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O51 $/atom:membrane_sio2/Si27 $/atom:membrane_sio2/O53
$/angle:bytype113 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O51 $/atom:membrane_sio2/Si27 $/atom:membrane_sio2/O56
$/angle:bytype114 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O52 $/atom:membrane_sio2/Si28 $/atom:membrane_sio2/O54
$/angle:bytype115 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O52 $/atom:membrane_sio2/Si28 $/atom:membrane_sio2/O55
$/angle:bytype116 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O53 $/atom:membrane_sio2/Si27 $/atom:membrane_sio2/O56
$/angle:bytype117 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O54 $/atom:membrane_sio2/Si28 $/atom:membrane_sio2/O55
$/angle:bytype118 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O55 $/atom:membrane_sio2/Si25 $/atom:membrane_sio2/O60
$/angle:bytype119 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O57 $/atom:membrane_sio2/Si29 $/atom:membrane_sio2/O63
$/angle:bytype120 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O57 $/atom:membrane_sio2/Si31 $/atom:membrane_sio2/O59
$/angle:bytype121 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O57 $/atom:membrane_sio2/Si31 $/atom:membrane_sio2/O61
$/angle:bytype122 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O57 $/atom:membrane_sio2/Si31 $/atom:membrane_sio2/O64
$/angle:bytype123 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O58 $/atom:membrane_sio2/Si32 $/atom:membrane_sio2/O60
$/angle:bytype124 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O58 $/atom:membrane_sio2/Si32 $/atom:membrane_sio2/O62
$/angle:bytype125 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O58 $/atom:membrane_sio2/Si32 $/atom:membrane_sio2/O63
$/angle:bytype126 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O59 $/atom:membrane_sio2/Si31 $/atom:membrane_sio2/O61
$/angle:bytype127 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O59 $/atom:membrane_sio2/Si31 $/atom:membrane_sio2/O64
$/angle:bytype128 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O60 $/atom:membrane_sio2/Si32 $/atom:membrane_sio2/O62
$/angle:bytype129 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O60 $/atom:membrane_sio2/Si32 $/atom:membrane_sio2/O63
$/angle:bytype130 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O61 $/atom:membrane_sio2/Si31 $/atom:membrane_sio2/O64
$/angle:bytype131 @/angle:COMPASS/o2~si4z~o2~o2z~si4z~o2z $/atom:membrane_sio2/O62 $/atom:membrane_sio2/Si32 $/atom:membrane_sio2/O63
$/angle:bytype132 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si1 $/atom:membrane_sio2/O1 $/atom:membrane_sio2/Si3
$/angle:bytype133 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si1 $/atom:membrane_sio2/O7 $/atom:membrane_sio2/Si4
$/angle:bytype134 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si1 $/atom:membrane_sio2/O12 $/atom:membrane_sio2/Si8
$/angle:bytype135 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si1 $/atom:membrane_sio2/O37 $/atom:membrane_sio2/Si19
$/angle:bytype136 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si2 $/atom:membrane_sio2/O2 $/atom:membrane_sio2/Si4
$/angle:bytype137 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si4 $/atom:membrane_sio2/O6 $/atom:membrane_sio2/Si18
$/angle:bytype138 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si5 $/atom:membrane_sio2/O9 $/atom:membrane_sio2/Si7
$/angle:bytype139 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si5 $/atom:membrane_sio2/O15 $/atom:membrane_sio2/Si8
$/angle:bytype140 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si5 $/atom:membrane_sio2/O20 $/atom:membrane_sio2/Si12
$/angle:bytype141 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si5 $/atom:membrane_sio2/O45 $/atom:membrane_sio2/Si23
$/angle:bytype142 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si6 $/atom:membrane_sio2/O10 $/atom:membrane_sio2/Si8
$/angle:bytype143 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si8 $/atom:membrane_sio2/O14 $/atom:membrane_sio2/Si22
$/angle:bytype144 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si9 $/atom:membrane_sio2/O17 $/atom:membrane_sio2/Si11
$/angle:bytype145 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si9 $/atom:membrane_sio2/O23 $/atom:membrane_sio2/Si12
$/angle:bytype146 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si9 $/atom:membrane_sio2/O28 $/atom:membrane_sio2/Si16
$/angle:bytype147 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si9 $/atom:membrane_sio2/O53 $/atom:membrane_sio2/Si27
$/angle:bytype148 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si10 $/atom:membrane_sio2/O18 $/atom:membrane_sio2/Si12
$/angle:bytype149 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si12 $/atom:membrane_sio2/O22 $/atom:membrane_sio2/Si26
$/angle:bytype150 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si13 $/atom:membrane_sio2/O25 $/atom:membrane_sio2/Si15
$/angle:bytype151 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si13 $/atom:membrane_sio2/O31 $/atom:membrane_sio2/Si16
$/angle:bytype152 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si13 $/atom:membrane_sio2/O61 $/atom:membrane_sio2/Si31
$/angle:bytype153 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si14 $/atom:membrane_sio2/O26 $/atom:membrane_sio2/Si16
$/angle:bytype154 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si16 $/atom:membrane_sio2/O30 $/atom:membrane_sio2/Si30
$/angle:bytype155 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si17 $/atom:membrane_sio2/O33 $/atom:membrane_sio2/Si19
$/angle:bytype156 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si17 $/atom:membrane_sio2/O39 $/atom:membrane_sio2/Si20
$/angle:bytype157 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si17 $/atom:membrane_sio2/O44 $/atom:membrane_sio2/Si24
$/angle:bytype158 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si18 $/atom:membrane_sio2/O34 $/atom:membrane_sio2/Si20
$/angle:bytype159 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si21 $/atom:membrane_sio2/O41 $/atom:membrane_sio2/Si23
$/angle:bytype160 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si21 $/atom:membrane_sio2/O47 $/atom:membrane_sio2/Si24
$/angle:bytype161 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si21 $/atom:membrane_sio2/O52 $/atom:membrane_sio2/Si28
$/angle:bytype162 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si22 $/atom:membrane_sio2/O42 $/atom:membrane_sio2/Si24
$/angle:bytype163 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si25 $/atom:membrane_sio2/O49 $/atom:membrane_sio2/Si27
$/angle:bytype164 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si25 $/atom:membrane_sio2/O55 $/atom:membrane_sio2/Si28
$/angle:bytype165 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si25 $/atom:membrane_sio2/O60 $/atom:membrane_sio2/Si32
$/angle:bytype166 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si26 $/atom:membrane_sio2/O50 $/atom:membrane_sio2/Si28
$/angle:bytype167 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si29 $/atom:membrane_sio2/O57 $/atom:membrane_sio2/Si31
$/angle:bytype168 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si29 $/atom:membrane_sio2/O63 $/atom:membrane_sio2/Si32
$/angle:bytype169 @/angle:COMPASS/si4z~o2~si4z~si4z~o2z~si4z $/atom:membrane_sio2/Si30 $/atom:membrane_sio2/O58 $/atom:membrane_sio2/Si32
