  set atom $/atom:membrane_sio2/Si1 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O1 charge -0.89
  set atom $/atom:membrane_sio2/O7 charge -0.89
  set atom $/atom:membrane_sio2/O12 charge -0.89
  set atom $/atom:membrane_sio2/O37 charge -0.89
  set atom $/atom:membrane_sio2/Si2 charge 0.445
  set atom $/atom:membrane_sio2/O2 charge -0.89
  set atom $/atom:membrane_sio2/Si3 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O3 charge -0.445
  set atom $/atom:membrane_sio2/O5 charge -0.445
  set atom $/atom:membrane_sio2/O8 charge -0.445
  set atom $/atom:membrane_sio2/Si4 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O4 charge -0.445
  set atom $/atom:membrane_sio2/O6 charge -0.89
  set atom $/atom:membrane_sio2/Si5 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O9 charge -0.89
  set atom $/atom:membrane_sio2/O15 charge -0.89
  set atom $/atom:membrane_sio2/O20 charge -0.89
  set atom $/atom:membrane_sio2/O45 charge -0.89
  set atom $/atom:membrane_sio2/Si6 charge 0.445
  set atom $/atom:membrane_sio2/O10 charge -0.89
  set atom $/atom:membrane_sio2/Si7 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O11 charge -0.445
  set atom $/atom:membrane_sio2/O13 charge -0.445
  set atom $/atom:membrane_sio2/O16 charge -0.445
  set atom $/atom:membrane_sio2/Si8 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O14 charge -0.89
  set atom $/atom:membrane_sio2/Si9 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O17 charge -0.89
  set atom $/atom:membrane_sio2/O23 charge -0.89
  set atom $/atom:membrane_sio2/O28 charge -0.89
  set atom $/atom:membrane_sio2/O53 charge -0.89
  set atom $/atom:membrane_sio2/Si10 charge 0.445
  set atom $/atom:membrane_sio2/O18 charge -0.89
  set atom $/atom:membrane_sio2/Si11 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O19 charge -0.445
  set atom $/atom:membrane_sio2/O21 charge -0.445
  set atom $/atom:membrane_sio2/O24 charge -0.445
  set atom $/atom:membrane_sio2/Si12 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O22 charge -0.89
  set atom $/atom:membrane_sio2/Si13 charge 1.335
  set atom $/atom:membrane_sio2/O25 charge -0.89
  set atom $/atom:membrane_sio2/O31 charge -0.89
  set atom $/atom:membrane_sio2/O61 charge -0.89
  set atom $/atom:membrane_sio2/Si14 charge 0.445
  set atom $/atom:membrane_sio2/O26 charge -0.89
  set atom $/atom:membrane_sio2/Si15 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O27 charge -0.445
  set atom $/atom:membrane_sio2/O29 charge -0.445
  set atom $/atom:membrane_sio2/O32 charge -0.445
  set atom $/atom:membrane_sio2/Si16 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O30 charge -0.89
  set atom $/atom:membrane_sio2/Si17 charge 1.335
  set atom $/atom:membrane_sio2/O33 charge -0.89
  set atom $/atom:membrane_sio2/O39 charge -0.89
  set atom $/atom:membrane_sio2/O44 charge -0.89
  set atom $/atom:membrane_sio2/Si18 charge 0.89
  set atom $/atom:membrane_sio2/O34 charge -0.89
  set atom $/atom:membrane_sio2/Si19 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O35 charge -0.445
  set atom $/atom:membrane_sio2/O40 charge -0.445
  set atom $/atom:membrane_sio2/Si20 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O36 charge -0.445
  set atom $/atom:membrane_sio2/O38 charge -0.445
  set atom $/atom:membrane_sio2/Si21 charge 1.335
  set atom $/atom:membrane_sio2/O41 charge -0.89
  set atom $/atom:membrane_sio2/O47 charge -0.89
  set atom $/atom:membrane_sio2/O52 charge -0.89
  set atom $/atom:membrane_sio2/Si22 charge 0.89
  set atom $/atom:membrane_sio2/O42 charge -0.89
  set atom $/atom:membrane_sio2/Si23 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O43 charge -0.445
  set atom $/atom:membrane_sio2/O48 charge -0.445
  set atom $/atom:membrane_sio2/Si24 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O46 charge -0.445
  set atom $/atom:membrane_sio2/Si25 charge 1.335
  set atom $/atom:membrane_sio2/O49 charge -0.89
  set atom $/atom:membrane_sio2/O55 charge -0.89
  set atom $/atom:membrane_sio2/O60 charge -0.89
  set atom $/atom:membrane_sio2/Si26 charge 0.89
  set atom $/atom:membrane_sio2/O50 charge -0.89
  set atom $/atom:membrane_sio2/Si27 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O51 charge -0.445
  set atom $/atom:membrane_sio2/O56 charge -0.445
  set atom $/atom:membrane_sio2/Si28 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O54 charge -0.445
  set atom $/atom:membrane_sio2/Si29 charge 0.89
  set atom $/atom:membrane_sio2/O57 charge -0.89
  set atom $/atom:membrane_sio2/O63 charge -0.89
  set atom $/atom:membrane_sio2/Si30 charge 0.89
  set atom $/atom:membrane_sio2/O58 charge -0.89
  set atom $/atom:membrane_sio2/Si31 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O59 charge -0.445
  set atom $/atom:membrane_sio2/O64 charge -0.445
  set atom $/atom:membrane_sio2/Si32 charge 1.7799999999999998
  set atom $/atom:membrane_sio2/O62 charge -0.445
